--extra-index-url https://download.pytorch.org/whl/cu121

# Çekirdek Makine Öğrenmesi (GPU Destekli)
torch==2.2.2
torchvision==0.17.2

# Yüz Tanıma ve Görüntü İşleme
facenet-pytorch==2.6.0
opencv-python==4.8.1.78

# Veri Analizi ve Yardımcılar
numpy==1.26.4
pandas==3.0.3
tqdm==4.67.3