# Kaggle API Token (Gerçek anahtarınızı .env dosyasına yazın)
KAGGLE_API_TOKEN=your_kaggle_api_token_here

# Veri setinin bilgisayarınızdaki kök dizini (Herkes kendi diskine göre ayarlayabilir)
# Örnek Windows: D:\Deepfake_Data veya C:\Users\kullanici\Desktop\Dataset
DATASET_ROOT_DIR=D:\Deepfake_Data