# Kaggle API Token (Gerçek anahtarınızı .env dosyasına yazın)
KAGGLE_API_TOKEN=your_kaggle_api_token_here

# Veri setinin bilgisayarınızdaki kök dizini (Herkes kendi diskine göre ayarlayabilir)
# Örnek Windows: C:\Users\ramaz\Desktop\Dataset veya D:\Deepfake_Data
DATASET_ROOT_DIR=C:\Users\ramaz\Desktop\Dataset