--extra-index-url https://download.pytorch.org/whl/cu121

# ==========================================
# 1. Çekirdek Makine Öğrenmesi (GPU Destekli)
# ==========================================
torch==2.12.0
torchvision==0.27.0

# ==========================================
# 2. Yüz Tanıma ve Görüntü İşleme
# ==========================================
facenet-pytorch
opencv-python
Pillow

# ==========================================
# 3. Model Değerlendirme ve Grafikler
# ==========================================
scikit-learn
matplotlib

# ==========================================
# 4. Web Arayüzü (Frontend)
# ==========================================
streamlit

# ==========================================
# 5. Veri Artırımı (Data Augmentation)
# ==========================================
albumentations

# ==========================================
# 6. Veri Analizi, Sıkıştırma ve Yardımcılar
# ==========================================
numpy>=2.0.0
pandas
tqdm==4.67.3
python-dotenv==1.0.1
h5py==3.12.1
kaggle==1.6.17